/* ===========  WESMAPS SCHEDULE =========== */ 
#wesmaps_schedule {
  position: fixed;
  top: 10%;
  bottom: 7%;
  left: 0px;
  right: 0px;
  background-color:#c5c7d3;
}
.wm_day {
  display: inline-block;
  width:18.6%;
  height:100%;
  border-left: 1px solid #dddddd;
}

.wm_day_name {
  font-size: 10px;
  text-align: center;
}

.wm_mtg {
  position: absolute;
  width: 18.6%;
  margin-left: 2px;
}

/* =========   WESMAPS SEARCH ========= */
.wesmaps_header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 10%;
  background-color: #242833;
  text-align: center;
}
.wesmaps_header img {
  margin-top: 5px;
  height: 70%;
  width: auto;
}
.wesmaps_header span {
  margin-left: 30px;
  font-family: Raleway;
  font-size: 30px;
  color: #ffffff;
}
.wesmaps_content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10%;
  bottom: 7%;
  background-color: #c5c7d3;
}

/* COURSE LIST */
.wm_dep_num {
  display: inline-block;
  background-color: #458179;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25%;
  height: 100%;
  float: left;
  margin-left: 3%;
}
.wm_dep {
  margin-top: 5px;
  margin-bottom: 5px;
}
.wm_course_info {
  display: inline-block;
  background-color: #242833;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 70%;
  height: 100%;
  float: left;
  margin-left: -5px;
}
.wm_course_title {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 35%;
}
.wm_course_prof {
  display: block;
  font-size: 13px;
}
.wm_course_time {
  display: block;
  font-size: 13px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wm_courses li {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  height: 70px;
  text-align: center;
  width: 100%;
}


/* FOOTER */
.wesmaps_footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 7%;
  background-color: #242833;
}
.wesmaps_go_home {
  display: inline-block;
  position: absolute;
  margin:5px;
  left: 0px;
  bottom: 0px;
  height: 80%;
  width: 48%;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.wesmaps_go_other {
  display: inline-block;
  position: absolute;
  margin: 5px;
  right: 0px;
  bottom: 0px;
  height: 80%;
  width: 48%;
  text-align: center;
}
.wesmaps_go_other span {
  padding-left: 20px;
  text-shadow: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
}
.wesmaps_go_home span {
  padding-left: 20px;
  text-shadow: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
}

.goto_page span, i {
  text-decoration: none;
  color: #ffffff;
}
/* SEARCH BAR */
#wm_search_bar {
  display: inline-block;
  width: 100%;
  height: 70px;
}
#wm_bar {
  display: inline-block;
  width: 80%;
  height: 70%;
  float: left;
}
#wm_bar:after {
  clear: both;
}
#wm_bar input {
  width: 100%;
  height: 100%;
  margin-left: 3%;
  margin-top: 2%;
  font-family: Raleway;
  font-size: 14px;
  border-radius: 5px;
}
#wm_icon {
  display: inline-block;
  height: 70%;
  width: 50px;
  margin-left: 5%;
  margin-top: 2%;
  background: #242833;
  border-radius: 10px;
  text-align: center;
  line-height: 5.5;
}
#wm_bar i {
  
}
