/* ===========  WESMAPS SCHEDULE =========== */ 
#wesmaps_schedule {
  position: fixed;
  top: 10%;
  bottom: 7%;
  left: 0px;
  right: 0px;
  background-color:#c5c7d3;
}
.wm_day {
  display: inline-block;
  width:18.6%;
  height:100%;
  border-left: 1px solid #dddddd;
}

.wm_day_name {
  font-size: 10px;
  text-align: center;
}

.wm_mtg {
  position: absolute;
  width: 18.6%;
  margin-left: 2px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wm_courses li {
  border-bottom: 1px solid #000000;
  margin:5px;
  padding:5px;
}

/* =========   WESMAPS SEARCH ========= */
.wesmaps_header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 10%;
  background-color: #242833;
  text-align: center;
}
.wesmaps_header img {
  margin-top: 5px;
  height: 70%;
  width: auto;
}
.wesmaps_header span {
  margin-left: 30px;
  font-family: Raleway;
  font-size: 30px;
  color: #ffffff;
}
.wesmaps_content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10%;
  bottom: 7%;
  background-color: #c5c7d3;
}

/* FOOTER */
.wesmaps_footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 7%;
  background-color: #242833;
}
.wesmaps_go_home {
  display: inline-block;
  position: absolute;
  margin:5px;
  left: 0px;
  bottom: 0px;
  height: 80%;
  width: 48%;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.wesmaps_go_other {
  display: inline-block;
  position: absolute;
  margin: 5px;
  right: 0px;
  bottom: 0px;
  height: 80%;
  width: 48%;
  text-align: center;
}
.wesmaps_go_other span {
  padding-left: 20px;
  text-shadow: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
}
.wesmaps_go_home span {
  padding-left: 20px;
  text-shadow: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
}

.goto_page span, i {
  text-decoration: none;
  color: #ffffff;
}
/* SEARCH BAR */
#wm_search_bar {
  display: inline-block;
  width: 90%;
}
#wm_search_bar input{
  width: 100%;
  font-family: Raleway;
  font-size: 14px;
  border-radius: 5px;
}
#wm_search_button {
  display: inline-block;
  width: 9%;
  text-align: center;
}
