/* ======= WESMAPS HEADER ========= */
.wesmaps_header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 10%;
  background-color: #242833;
  text-align: center;
}
.wm-go-home {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  float: right;
  border-left: 1px solid #ffffff;
}
.wm-bird {
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
  padding: 0px 0px 0px 0px;
}
.wm-bird img {
  height: 70%;
}
.wm-name {
  display: inline-block;
  float: left;
  width: 30%;
  padding-top: 10px;
}
.wesmaps_header img {
  margin-top: 5px;
  height: 70%;
  width: auto;
}
.wesmaps_header span {
  margin-left: 30px;
  font-family: Raleway;
  font-size: 30px;
  color: #ffffff;
}
/* =========   WESMAPS SEARCH ========= */
body {
  background-color: #c5c7d3;
}
.wesmaps_content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10%;
  bottom: 0px;
  background-color: #c5c7d3;
}

/* COURSE LIST */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wm_courses li {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  height: 70px;
  text-align: center;
  width: 100%;
}
.wm_c_dnum {
  display: inline-block;
  background-color: #458179;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25%;
  height: 100%;
  float: left;
  margin-left: 3%;
}
.wm_c_dep {
  margin-top: 5px;
  margin-bottom: 5px;
}
.wm_c_info {
  display: inline-block;
  background-color: #242833;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 70%;
  height: 100%;
  float: left;
  margin-left: -5px;
}
.wm_c_title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 75%;
  float: left;
}
.wm_c_expand {
  display: inline-block;
  height: 60px;
  margin-top: 5px;
  position: absolute;
  right: 5%;
}
/* expanded course */
.wm-table {
  display: block;
  width: 100%;
}
.wm-table table {
  width: 100%;
}
.wm-info-expanded {
  margin-bottom: 10px;
}
.wm_c_desc {
  width: 100%;
  color: #ffffff;
  background-color: #242833;
  font-family: Raleway;
  font-weight: 300;
  font-size: 1em;
  border-color: grey;
  text-align: justify;
  border-top: 1px solid #555555;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
}
.wm_c_prof {
  display: inline-block;
  width: 50%;
  float: left;
  overflow: hidden;
  font-size: 15px;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}
.wm_c_time {
  display: inline-block;
  font-size: 15px;
  width: 50%;
  float: left;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}
.wm_c_loc {
  font-size: 15px;
  display: inline-block;
  width: 50%;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}
.wm_c_seats {
  font-size: 15px;
  display: inline-block;
  width: 50%;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}
.wm_c_sem {
  font-size: 15px;
  display: inline-block;
  width: 50%;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}
.wm_c_gea {
  font-size: 15px;
  display: inline-block;
  width: 50%;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #555555;
  padding: 5px 0px 5px 0px;
}

.goto_page span, i {
  text-decoration: none;
  color: #ffffff;
}
/* SEARCH BAR */
#wm_search_bar {
  display: inline-block;
  width: 100%;
  height: 70px;
}
#wm_bar {
  display: inline-block;
  width: 75%;
  height: 70%;
  float: left;
}
#wm_bar:after {
  clear: both;
}
#wm_bar input {
  width: 100%;
  height: 100%;
  margin-left: 3%;
  margin-top: 2%;
  font-family: Raleway;
  font-size: 14px;
  border-radius: 5px;
}
#wm_icon {
  display: inline-block;
  height: 70%;
  width: 50px;
  margin-left: 5%;
  margin-top: 2%;
  background: #242833;
  border-radius: 10px;
  text-align: center;
  line-height: 5.5;
}

/* SEMESTER SEARCH FILTER */
#wm_s_filter {
  margin: 50px auto;
  position: relative;
  width: 80%;
  height: 10%;
}

#wm_s_filter input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#wm_s_filter label {
  width: 49%;
  height: 100%;
  position: relative;
  display: inline-block;
}

/*
#wm_s_filter label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0,0,0,0.3),
              0 1px 1px rgba(0,0,0,0.25);
}

#wm_s_filter label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px; right: -18px; bottom: -18px; left: -18px;
  border-radius: inherit;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

#wm_s_filter label i {
  display: block;
  height: 100%;
  width: 60%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 40%;
  top: 0;
  background: #b2ac9e;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow: inset 0 1px 0 white,
              0 0 8px rgba(0,0,0,0.3),
              0 5px 5px rgba(0,0,0,0.2);
}

#wm_s_filter label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

#wm_s_filter label i:before {
  content: "spring";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #82a06a;
  text-shadow: 0 1px 0 #afcb9b, 0 -1px 0 #6b8659;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -50%;
}

#wm_s_filter input:checked ~ label {
  background: #C5B070;
}

#wm_s_filter input:checked ~ label i {
  right: -1%;
}

#wm_s_filter input:checked ~ label i:before {
  content: "fall";
  right: 115%;
  color: #A79961;
  text-shadow: 0 1px 0 #CBBC9B, 0 -1px 0 #6b8659;
}
*/

/* HIDDEN LINKS */
.hidden-link {
  display: none;
}
